
.awesome-avatar-select-area {
    border: 1px solid #ddd;
    box-sizing: content-box;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.awesome-avatar-input {
    width: 100%;
    margin-top: 6px;
}

.awesome-avatar-preview {
    margin-right: 20px;
    border: 1px solid #ddd;
    box-sizing: content-box;
    overflow: hidden;
}

.awesome-avatar-widget > div {
    padding: 5px 0;
}

.hidden { 
    display:none;
}
